Repository frankenstein91/Arch-Ansible-Install, pull requests merged in 2021-04, with the labels that each got.

#7 Further Development: Networking and more
  ansible.cfg
  inventory.yml
  roles/arch2disk/defaults/main.yml
  roles/arch2disk/tasks/boot_setup.yml
  roles/arch2disk/tasks/bootloader/efistub.yml
  roles/arch2disk/tasks/bootloader/systemd-boot.yml
  roles/arch2disk/tasks/derive_facts.yml
  roles/arch2disk/tasks/localization.yml
  roles/arch2disk/tasks/main.yml
  roles/arch2disk/tasks/networking.yml
  roles/arch2disk/tasks/partitioning.yml
  roles/arch2disk/tasks/user_setup.yml
  roles/arch2disk/templates/bootloader/systemd-boot/arch.conf
  roles/arch2disk/templates/etc/NetworkManager/system-connections
Labels: defaults, tasks

#11 We have a complete installation
  Documentation/English/preamble.md
  Documentation/German/Installationinstructions.md
  Documentation/German/preamble.md
  ansible.cfg
  inventory.yml
  roles/arch2disk/defaults/main.yml
  roles/arch2disk/tasks/boot_setup.yml
  roles/arch2disk/tasks/bootloader/efistub.yml
  roles/arch2disk/tasks/bootloader/systemd-boot.yml
  roles/arch2disk/tasks/derive_facts.yml
  roles/arch2disk/tasks/fonts.yml
  roles/arch2disk/tasks/localization.yml
  roles/arch2disk/tasks/main.yml
  roles/arch2disk/tasks/networking.yml
  roles/arch2disk/tasks/partitioning.yml
  roles/arch2disk/tasks/user_setup.yml
  roles/arch2disk/templates/bootloader/systemd-boot/arch.conf
  roles/arch2disk/templates/etc/NetworkManager/system-connections/temp-setup.nmconnection
  roles/arch2disk/templates/etc/locale.conf
Labels: defaults, documentation, tasks

#12 changed the ansible-lint version
  .github/workflows/ansible-lint.yaml
Labels: GitHub

#13 Suggestion: More specific GitHub labels
  .github/labeler.yml
Labels: GitHub

#15 add noqa
  roles/arch2disk/tasks/derive_facts.yml
  roles/arch2disk/tasks/main.yml
  roles/arch2disk/tasks/user_setup.yml
Labels: tasks

#16 Fix efi && linter hints
  roles/arch2disk/tasks/boot_setup.yml
  roles/arch2disk/tasks/derive_facts.yml
  roles/arch2disk/tasks/localization.yml
  roles/arch2disk/tasks/main.yml
  roles/arch2disk/tasks/networking.yml
  roles/arch2disk/tasks/partitioning.yml
  roles/arch2disk/tasks/user_setup.yml
Labels: feature/boot_setup, feature/localization, feature/networking, tasks

#17 Install and setup everything
  .github/labeler.yml
  playbook.yml
  roles/arch2disk/tasks/bootloader/systemd-boot.yml
  roles/arch2disk/tasks/main.yml
  roles/arch2disk/tasks/post_reboot.yml
  roles/gnome_shell/tasks/main.yml
  roles/multimedia/tasks/main.yml
  roles/pipewire/tasks/main.yml
  tasks/cups.yml
  tasks/kara.yml
  tasks/try-install.yml
  tasks/wallpaper.yml
Labels: GitHub, feature/boot_setup, tasks
